

.header {
    background: #aa08ff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.header img {
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.main {
    margin: 40px 0;
}

.post {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px 0;
}

.post:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}

.post span {
    color: #000;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

a.back {
    background: #ffbd1a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 12px 0;
    margin-top: 20px;
    margin-left: 200px;
    text-align: center;
    width: 200px;
}

a.back:hover {
    background: #f7a500;
    text-decoration: none;
}

.from {
    font-size: 16px;
    font-weight: 700;
    padding-left: 2%;
    width: 20%;
}

.subject {
    width: 60%;
}

.date {
    font-size: 14px;
    padding-right: 2%;
    text-align: right;
    text-overflow: ellipsis;
    width: 15%;
}

.post-view {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 50px;
}

.post-view h2 {
    font-size: 40px;
    padding: 0;
    margin: 0 0 10px;
}

.post-view .from {
    display: inline-block;
    padding: 0;
    width: 50%;
}

.post-view .date {
    display: inline-block;
    padding: 0;
    text-align: right;
    width: 50%;
}

.post-view p {
    font-size: 24px;
    margin: 30px 0 0;
}

.post-comment {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 50px;
}

.post-comment h2 {
    font-size: 40px;
    padding: 0;
    margin: 0 0 10px;
}

.post-comment .from {
    display: inline-block;
    padding: 0;
    width: 50%;
}

.post-comment .date {
    display: inline-block;
    padding: 0;
    text-align: right;
    width: 50%;
}

.post-comment p {
    font-size: 24px;
    margin: 30px 0 0;
}


.footer {
  background:#000;
  padding:60px 0;
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;
}

.footer ul {
  color:#0393ff;
  list-style:none;
  padding-left:0px;
}



@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-register-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Login-form {
	margin-top: 60px;
}
.Post-form {
	margin-top: 40px;
  margin-left:-200px;
  width: 800px;
}
.registeresetpassw{
  text-align: center;
}
form[role=Login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=Login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=Login] input,
	form[role=Login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=Login] > div {
		text-align: center;
	}
.Loginlogo{
  text-align: center;
}

form[role=register] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=register] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=register] input,
	form[role=register] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=register] > div {
		text-align: center;
	}
.registerlogo{
  text-align: center;
}
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	a {
		color: #000;
	}
