<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="Login-form">
        <form method="get" action="http://127.0.0.1:8000/Frm/login/" role="Login">
        	<h1 class="Loginlogo">Forum Fyrir FS</h1>
          <input type="text" name="username" placeholder="Username" required class="form-control input-lg"/>

          <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required="" />


          <div class="pwstrength_viewport_progress"></div>


          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div>
            <a href="#/register">Create account</a> or <a href="#/resetpassword">Reset password</a>
          </div>

        </form>

        <div class="form-links">

        </div>
      </section>
      </div>

      <div class="col-md-4"></div>


  </div>

  <p>

    <br>
    <br>

  </p>


</div>
