<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="Login-form">
        <form method="get" action="http://127.0.0.1:8000/Frm/register/" role="Login">
        	<h1 class="Loginlogo">Forum Fyrir FS</h1>
          <p>Username</p>
          <input type="username" name="username" placeholder="Username" required class="form-control input-lg"/>

          <p>Email</p>
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg"/>

          <p>Password</p>
          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />

          <p>Confrim Password</p>
          <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required="" />

          <div class="pwstrength_viewport_progress"></div>


          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign Up</button>
          <a  href="#/resetpassword">Reset password</a>
          <div>

          </div>

        </form>

        <div class="form-links">

        </div>
      </section>
      </div>

      <div class="col-md-4"></div>


  </div>

  <p>

    <br>
    <br>

  </p>


</div>
