<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="Login-form">
        <form method="get" action="localhost:8000/Frm/register" role="Login">
        	<h1 class="Loginlogo">Forum Fyrir FS</h1>
          <p>Your username : {{user_name}}</p>

          <p>Your Email : </p>
          
          <button href="#/resetpassword" class="btn btn-lg btn-primary btn-block">Change password</button>
        </form>

        <div class="form-links">

        </div>
      </section>
      </div>

      <div class="col-md-4"></div>


  </div>

  <p>

    <br>
    <br>

  </p>


</div>
